{% extends 'main/public.main.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
<div class="max-w-screen-sm text-center mx-auto">
    <form method="post" class="flex flex-col">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username">Username</label>
        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control border border-2 border-gray-800" autocomplete="username" required autofocus>
        <label for="password">Password</label>
        <input type="password" name="_password" id="password" class="form-control border border-2 border-gray-800" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
        #}

        <button class="rounded-md w-36 mx-auto mt-4 bg-blue-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-green-700 focus:shadow-none active:bg-green-700 hover:bg-green-700">
            Sign in
        </button>
    </form>
</div>
{% endblock %}
